

.formcontent{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "say datos"
                        "sueños formpersonal"
                        "texto formpersonal"
                        "tambien formproyecto"
                        "redes formproyecto";
    margin-bottom: 40px;
}

.hello{
    grid-area: say;
    font-family: 'BlackMango';
    color: #CAD1CE;
    font-size: 60px;
    margin-left: 60px;
}

.datos{
    grid-area: datos;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #373737;
    margin-top: 50px;
    margin-left: -100px;
}

.sobreElProyecto{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #373737;
    margin-top: 50px;
    margin-left: -100px;
}

.textoSueños{
    grid-area: sueños;
    font-family: 'Poppins', sans-serif;
    color: #373737;
    font-weight: 400;
    margin-top: -20px;
    margin-left: 60px;
}

.formPersonal{
    grid-area: formpersonal;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #373737;
    margin-top: 20px;
    margin-left: -100px;
}

.textoEscribime{
    grid-area: texto;
    font-family: 'Poppins', sans-serif;
    color: #373737;
    font-weight: 300;
    margin-left: 60px;
}

.aca{
    grid-area: tambien;
    font-family: 'Poppins', sans-serif;
    color: #373737;
    font-weight:500;
    margin-left: 60px;
    margin-top: 200px;
}

.formProyecto{
    grid-area: formproyecto;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #373737;
    margin-top: 20px;
    margin-left: -100px;
}

.redes{
    grid-area: redes;
    margin-left: 60px;
}

.descripcionInput{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}

.textarea{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #CAD1CE;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 390px;
    padding: 15px;
}

.enviar{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #979797;
    width: 100px;
    margin-left: 480px;
}

.logos{
    padding-right: 30px;
    transition: transform .2s;
    width: 48px;
    height: 48px;
}

.logos:hover{
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5);
    transform: scale(1.5); 
}

.input{
    margin-bottom: 10px;
    padding: 5px;
    padding-right: 500px;
}

@media (max-width: 360px){
    .formcontent{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: "say textosueños textoescribime aca redes";
    }
    .say{
        grid-area: say;
    }
    .textoSueños{
        grid-area: textosueños;
    }
    .textoEscribime{
        grid-area: textoescribime;
    }
    .aca{
        grid-area: aca;
    }
    .redes{
        grid-area: redes;
    }
    .formcontent{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto auto auto auto;
        grid-template-areas: "say textosueños textoescribime aca redes datos formPersonal sobreElProyecto formProyecto";
    }
    .say{
        grid-area: say;
    }
    .textoSueños{
        grid-area: textosueños;
    }
    .textoEscribime{
        grid-area: textoescribime;
    }
    .aca{
        grid-area: aca;
    }
    .redes{
        grid-area: redes;
    }
    .datos{
        grid-area: datos;
    }
    .formPersonal{
        grid-area: formPersonal;
    }
    .sobreElProyecto{
        grid-area: sobreElProyecto;
    }
    .formProyecto{
        grid-area: formProyecto;
    }
}
@media (max-width: 600px){
    .formcontent{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: "say textosueños textoescribime aca redes";
    }
    .say{
        grid-area: say;
    }
    .textoSueños{
        grid-area: textosueños;
    }
    .textoEscribime{
        grid-area: textoescribime;
    }
    .aca{
        grid-area: aca;
    }
    .redes{
        grid-area: redes;
    }
    .formcontent{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto auto auto auto;
        grid-template-areas: "say textosueños textoescribime aca redes datos formPersonal sobreElProyecto formProyecto";
    }
    .say{
        grid-area: say;
    }
    .textoSueños{
        grid-area: textosueños;
    }
    .textoEscribime{
        grid-area: textoescribime;
    }
    .aca{
        grid-area: aca;
    }
    .redes{
        grid-area: redes;
    }
    .datos{
        grid-area: datos;
    }
    .formPersonal{
        grid-area: formPersonal;
    }
    .sobreElProyecto{
        grid-area: sobreElProyecto;
    }
    .formProyecto{
        grid-area: formProyecto;
    }
}
@media (max-width: 1200px){
    .formcontent{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: "say textosueños textoescribime aca redes";
    }
    .say{
        grid-area: say;
    }
    .textoSueños{
        grid-area: textosueños;
    }
    .textoEscribime{
        grid-area: textoescribime;
    }
    .aca{
        grid-area: aca;
    }
    .redes{
        grid-area: redes;
    }
    .formcontent{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto auto auto auto;
        grid-template-areas: "say"
                            "textosueños"
                            "textoescribime"
                            "aca"
                            "redes"
                            "datos"
                            "formPersonal"
                            "sobreElProyecto"
                            "formProyecto"
    }
    .say{
        grid-area: say;
    }
    .textoSueños{
        grid-area: textosueños;
        font-size: 20px;
    }
    .textoEscribime{
        grid-area: textoescribime;
        font-size: 10px;
    }
    .aca{
        grid-area: aca;
    }
    .redes{
        grid-area: redes;
    }
    .datos{
        grid-area: datos;
    }
    .formPersonal{
        grid-area: formPersonal;
    }
    .sobreElProyecto{
        grid-area: sobreElProyecto;
    }
    .formProyecto{
        grid-area: formProyecto;
    }
    form{
        width: 100%;
    }
    .datos{
        font-size: 20px;
    }
    input{
        width: 30%;
    }
    label{
        width: fit-content;
    }
}