
@font-face {
    font-family: 'BlackMango';
    src: url(../assets/Fonts/BlackMango-Medium.ttf);
}

body{
    margin: 5px;
}

.header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    background: #FFFFFF;
}

.logo{
    width: 200px;
    height: 100px;
    padding-top: 20px;
    padding-left: 70px;
    padding-right: 700px;
}

li{
    display: inline-block;
    padding: 40px;
}

a:hover:after{
    left: 0;
}

a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #514E4D;
    font-style: normal;
    font-size: 18px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    color: #514E4D;
}

a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: #F5D6C6;
    transition: left .8s;
}

.formcontent{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "say datos"
                        "sueños formpersonal"
                        "texto formpersonal"
                        "tambien formproyecto"
                        "redes formproyecto"
}

.hello{
    grid-area: say;
    font-family: 'BlackMango';
    color: #CAD1CE;
    font-size: 60px;
    margin-left: 60px;
}

.datos{
    grid-area: datos;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #373737;
    margin-top: 50px;
    margin-left: -100px;
}

.sobreElProyecto{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #373737;
    margin-top: 50px;
    margin-left: -100px;
}

.textoSueños{
    grid-area: sueños;
    font-family: 'Poppins', sans-serif;
    color: #373737;
    font-weight: 400;
    margin-top: -20px;
    margin-left: 60px;
}

.formPersonal{
    grid-area: formpersonal;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #373737;
    margin-top: 20px;
    margin-left: -100px;
}

.textoEscribime{
    grid-area: texto;
    font-family: 'Poppins', sans-serif;
    color: #373737;
    font-weight: 300;
    margin-left: 60px;
}

.aca{
    grid-area: tambien;
    font-family: 'Poppins', sans-serif;
    color: #373737;
    font-weight:500;
    margin-left: 60px;
    margin-top: 200px;
}

.formProyecto{
    grid-area: formproyecto;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #373737;
    margin-top: 20px;
    margin-left: -100px;
}

.redes{
    grid-area: redes;
    margin-left: 60px;
}

.descripcionInput{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}

.textarea{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #CAD1CE;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 390px;
    padding: 15px;
}

.enviar{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #979797;
    width: 100px;
    margin-left: 480px;
}

img{
    padding-right: 30px;
    transition: transform .2s;
    width: 48px;
    height: 48px;
}

img:hover{
    ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5);
    transform: scale(1.5); 
}

.input{
    margin-bottom: 10px;
    padding: 5px;
    padding-right: 500px;
}