/*HOME*/

@font-face {
    font-family: 'BlackMango';
    src: url(../assets/Fonts/BlackMango-Medium.ttf);
}

body{
    margin: 5px;
}

.header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    background: #FFFFFF;
}

.hero{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "banner";
}

.banner{
    grid-area: banner;
}

.presentation{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto auto;
    grid-template-areas:"title title"
                        "text quote";
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    justify-items: stretch;
    align-items: stretch; 
    background-color: #F6F6F6;
    margin-top: -48px;
}

.tituloSobreMi{
    grid-area: title;
    font-family: 'BlackMango';
    color: #D5BBA7;
    padding-left: 60px;
    padding-top: 30px;
}

.textPresentation{
    grid-area: text;
    font-family: 'Poppins', sans-serif;
    color: #514E4D;
    font-style: normal;
    Font-style: Italic;
    Font-size: 16px;
    padding-left: 60px;
}

.quote{
    grid-area: quote;
    width: 300px;
    height: 300px;
    padding-left: 180px;
    margin-top: -30px;
    margin-bottom: 20px;
}

.logo{
    width: 200px;
    height: 100px;
    padding-top: 20px;
    padding-left: 70px;
    padding-right: 700px;
}

li{
    display: inline-block;
    padding: 40px;
}

a:hover:after {
    left: 0;
}

a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #514E4D;
    font-style: normal;
    font-size: 18px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    color: #514E4D;
}

a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: #F5D6C6;
    transition: left .8s;
}

.misproyectos{
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: auto auto auto 10%;
    grid-template-areas:"mis mis imagen"
                        "proyectos proyectos imagen"
                        "text text imagen"
                        "boton boton imagen";
    grid-column-gap: 20px;
    background-color: #C4CCC8;
}

.soloMisProyectos{
    padding-top: 150px;
    padding-left: 50px;
}

.text-block{
    grid-area: mis;
    font-family:'Poppins', sans-serif;
    font-size: 70px;
    color: #FFFFFF;
}

.text-serif{
    grid-area: proyectos;
    font-family: 'BlackMango';
    font-size: 80px;
    color: #FFFFFF;
    margin-top: -40px;
}

.text-misProyectos{
    grid-area: text;
    font-family:'Poppins', sans-serif;
    font-size: 25px;
    color:#FFFFFF;
    margin-top: 40px;
    margin-bottom: 50px;
}

.quoteimage{
    grid-area: imagen;
    width: 962px;   
    height: 962px;
}

.btn {
    grid-area: boton;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 50px;
    padding-left: 50px;
}

.footer{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: "logolineal links followme quote tbrand nbrand";
    margin: 50px;
}

.logolineal{
    grid-area: logolineal;
    padding-top: 120px;
}

.footer-links{
    grid-area: links;
    display: flex;
    flex-direction: column;
    margin-top: 130px;
    margin-left: 30px;
}

.followme{
    grid-area: followme;
    margin: 55px;
}

.quotefuture{
    grid-area: quote;
    margin: 40px;
}

.tbrand{
    grid-area: tbrand;
    margin: 40px;
}

.nbrand{
    grid-area: nbrand;
    margin: 40px;
}

.div-block-container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas:"city"
                        "email";
    background-color: #EBEBEB;
}

.city{
    grid-area: city;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
    margin-top: 30px;
}

.email{
    grid-area: email;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight:400;
    font-size: 15px;
    margin-top: -15px;
    padding-bottom: 10px;
}



@media (min-width: 320px){
    .contenedor{
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto auto auto auto;
        grid-template-areas: "header"
        "section"
        "foto02"
        "misProyectos"
        "proyecto01"
        "proyecto02"
        "proyecto03"
        "proyecto04"
        "proyecto05"
        "footer";
    }
}

@media (min-width: 600px){
    .contenedor{
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto auto auto auto auto auto;
        grid-template-areas: "header header"
        "section foto02"
        "misProyectos misProyectos"
        "proyecto01 proyecto01"
        "proyecto02 proyecto02"
        "proyecto03 proyecto03"
        "proyecto04 proyecto04"
        "proyecto05 proyecto04"
        "footer footer";
    }
}

@media (min-width: 1200px){
    .contenedor{
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas: "header header header"
        "section section foto02"
        "misProyectos misProyectos misProyectos"
        "proyecto01 proyecto02 proyecto02"
        "proyecto03 proyecto04 proyecto05"
        "footer footer footer";
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        justify-items: stretch;
        align-items: stretch;
    }
}

/*about me*/

.tituloAboutMe{
    font-family: 'Poppins', sans-serif;
    color: #514E4D;
    font-style: normal;
    Font-style: Italic;
    Font-size: 20px;
}