/*HOME*/

@font-face {
    font-family: 'BlackMango';
    src: url(../assets/Fonts/BlackMango-Medium.ttf);
}

body{
    margin: 5px;
}

.header{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: "logo link link link link";
    background: #FFFFFF;
}

.logo{
    grid-area: logo;
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 300px;
}

.classnavegacion{
    grid-area: link;
}

.liclass{
    display: inline-block;
    padding: 40px;
}

.links:hover:after {
    left: 0;
}

.links{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #514E4D;
    font-style: normal;
    font-size: 18px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    color: #514E4D;
}

.links:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: #F5D6C6;
    transition: left .8s;
}

.hero{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "banner";
}

.banner{
    grid-area: banner;
    width: 100%;
}

.presentation{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto auto;
    grid-template-areas:"title title"
                        "text quote";
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    justify-items: stretch;
    align-items: stretch; 
    background-color: #F6F6F6;
    margin-top: -48px;
}

.tituloSobreMi{
    grid-area: title;
    font-family: 'BlackMango';
    color: #D5BBA7;
    padding-left: 60px;
    padding-top: 30px;
}

.textPresentation{
    grid-area: text;
    font-family: 'Poppins', sans-serif;
    color: #514E4D;
    font-style: normal;
    Font-style: Italic;
    Font-size: 16px;
    padding-left: 60px;
}

.quote{
    grid-area: quote;
    width: 100%;
    align-items: stretch;
}

.misproyectos{
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: auto auto auto 10%;
    grid-template-areas:"mis mis imagen"
                        "proyectos proyectos imagen"
                        "text text imagen"
                        "boton boton imagen";
    grid-column-gap: 20px;
    background-color: #C4CCC8;
}

.soloMisProyectos{
    padding-top: 150px;
    padding-left: 50px;
}

.text-block{
    grid-area: mis;
    font-family:'Poppins', sans-serif;
    font-size: 70px;
    color: #FFFFFF;
}

.text-serif{
    grid-area: proyectos;
    font-family: 'BlackMango';
    font-size: 80px;
    color: #FFFFFF;
    margin-top: -40px;
}

.text-misProyectos{
    grid-area: text;
    font-family:'Poppins', sans-serif;
    font-size: 18px;
    color:#FFFFFF;
    margin-top: 40px;
    margin-bottom: 50px;
}

.quoteimage{
    grid-area: imagen;
    width: 100%;
}

.btn {
    grid-area: boton;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-decoration: none;
    background-color: #EAEAE2;
    color: #313131;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 10px;
}

.btn:hover{
    box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.2), 0 6px 20px 0 rgba(177, 177, 177, 0.2);
}

.footer{
    display: grid;
    grid-template-columns: auto auto auto auto auto ;
    grid-template-rows: auto;
    grid-template-areas: "logolineal links followme quote tbrand";
    margin: 50px;
}

.logolineal{
    grid-area: logolineal;
    padding-top: 120px;
}

.footer-links{
    grid-area: links;
    display: flex;
    flex-direction: column;
    margin-top: 130px;
    margin-left: 30px;
}

.followme{
    grid-area: followme;
    margin: 55px;
    width: 70%;
}

.quotefuture{
    grid-area: quote;
    margin: 40px;
    width: 100%;
}

.tbrand{
    grid-area: tbrand;
    margin: 40px;
    width: 100%;
}


.div-block-container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas:"city"
                        "email";
    background-color: #EBEBEB;
}

.city{
    grid-area: city;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
    margin-top: 30px;
}

.email{
    grid-area: email;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight:400;
    font-size: 15px;
    margin-top: -15px;
    padding-bottom: 10px;
}

.linksResponsive{
    text-decoration: none;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: rgb(63, 63, 63);
    padding: 10px;
}


@media (max-width: 320px){
    .header{
        display: flex;
        flex-direction: column;
    }
    .navegacion{
        display: flex;
        flex-direction: column;
        font-size: 10px;
        padding: 10px;
        text-align: center;
    }
    .logo{
        width: 100px;
        margin-left: 120px;
    }
    .banner{
        width: 420%;
    }
    .presentation{
        background-color: #F6F6F6;
    }
    .quote{
        visibility: hidden;
    }
    .quoteimage{
        visibility: hidden;
    }
    .misproyectos{
        width: 200%;
    }
    .text-block{
        font-size: 50px;
        padding: -10px;
    }
    .text-serif{
        font-size: 50px;
    }
    .text-misProyectos{
        font-size: 20px;
    }
    .btn{
        font-size: x-small;
        padding-right: 0px;
        padding-left: 0px;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
    .quotefuture{
        margin-left: 100px;
    }
    .tbrand{
        margin-left: 100px;
    }
    .nbrand{
        margin-left: 100px;
    }
    .logolineal{
        width: 70px;
        margin-left: 100px;
        margin-bottom: 0px;
    }

    .div-block-container{
        padding: 30px;
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (max-width: 600px){
    .header{
        display: flex;
        flex-direction: column;
    }
    .navegacion{
        display: flex;
        flex-direction: column;
        font-size: 10px;
        padding: 10px;
        text-align: center;
    }
    .logo{
        width: 100px;
        margin-left: 180px;
    }
    .banner{
        width: 420%;
    }
    .presentation{
        background-color: #F6F6F6;
    }
    .quote{
        visibility: hidden;
    }
    .quoteimage{
        visibility: hidden;
    }
    .misproyectos{
        width: 200%;
    }
    .text-block{
        font-size: 50px;
        padding: -10px;
    }
    .text-serif{
        font-size: 50px;
    }
    .text-misProyectos{
        font-size: 20px;
    }
    .btn{
        font-size: x-small;
        padding-right: 50px;
        padding-left: 50px;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
    .quotefuture{
        margin-left: 100px;
    }
    .tbrand{
        margin-left: 100px;
    }
    .nbrand{
        margin-left: 100px;
    }
    .logolineal{
        width: 70px;
        margin-left: 190px;
        margin-bottom: 0px;
    }

    .div-block-container{
        padding: 30px;
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (max-width: 1200px){
    .header{
        display: flex;
        flex-direction: column;
    }
    .navegacion{
        display: flex;
        flex-direction: column;
        font-size: 10px;
        padding: 10px;
        text-align: center;
    }
    .logo{
        width: 100px;
        margin-left: 180px;
    }
    .banner{
        width: 420%;
    }
    .presentation{
        background-color: #F6F6F6;
    }
    .quote{
        visibility: hidden;
    }
    .quoteimage{
        visibility: hidden;
    }
    .misproyectos{
        width: 200%;
    }
    .text-block{
        font-size: 50px;
        padding: -10px;
    }
    .text-serif{
        font-size: 50px;
    }
    .text-misProyectos{
        font-size: 20px;
    }
    .btn{
        font-size: x-small;
        padding-right: 0px;
        padding-left: 0px;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
    .quotefuture{
        margin-left: 100px;
    }
    .tbrand{
        margin-left: 100px;
    }
    .nbrand{
        margin-left: 100px;
    }
    .logolineal{
        width: 70px;
        margin-left: 190px;
        margin-bottom: 0px;
    }

    .div-block-container{
        padding: 30px;
        padding-left: 40px;
        padding-right: 40px;
    }
}